[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zsh_custom/powerlevel10k"]
	path = zsh/.zsh_custom/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "tmux/.config/tmux/tpm"]
	path = tmux/.config/tmux/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "alacritty/.config/alacritty/catppuccin"]
	path = alacritty/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "leftwm/.config/leftwm/themes/Catppuccin"]
	path = leftwm/.config/leftwm/themes/Catppuccin
	url = https://github.com/di-effe/catppuccin.git
